body {
    text-align: center;
    background-color: #1a1919;
    color: #000000;
    font-family: Arial, sans-serif;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom, #ffffff, #3834fd);
    background-attachment: scroll;
}
.cor-letra {
    color: #b11c8b;
    font-weight: bold;
}
.cor-lolbuj {
    color: #eec878;
    font-weight: bold;
}
.cor-TROPA {
    color: #1a297e;
    font-weight: bold;
}